
@import url(https://fonts.googleapis.com/css?family=Lato);
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome.scss';


h1 {
	color: black;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
}

h2 {
	font-weight: normal;
	font-size: 24px;
}

.navbar {
	border: none;
	border-bottom: 2px solid $brand-primary;
	min-height: 62px;
	text-transform: uppercase;
	margin-bottom: 55px;
	
	.navbar-toggle {
		padding-top: 13px;
		padding-bottom: 13px;
		background-color: #fff;

		&:hover, &:active, &:focus {
			.icon-bar {
					background-color: $brand-primary;
			}
			background-color: #fff;
		}
	}

	.navbar-nav > li > a, {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	.navbar-btn {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	@media (min-width: $screen-sm-min) {
		.btn-facebook {
			float: right;
		}
	}

	@media (max-width: $screen-xs-max) {
		margin-bottom: 30px;

		.navbar-btn {
			margin-top: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: left;
			width: 100%;
		}
	}
}




.navbar-brand {
	padding: 0 20px 0 10px;

	&, > img {
		height: 60px;
	}
}

footer {
	padding: 1em;
	text-align: center;
	font-size: 12px;
}

.btn-facebook {
	background-color: $facebook-blue;
	border: 1px solid #2A457F;
	color: #fff;

	&:hover, &:focus, &:active {
		background-color: lighten($facebook-blue, 5%);
		border-color: $facebook-blue;
		color: #fff;
	}

	.fa-facebook {
		margin-right: 0.5em;
	}
}

#challengers {
	h1 {
		line-height: 36px;
	}
}

ol.challenger-list {
	list-style: none;
	margin: 1em 0;
	padding: 0;

	@include clearfix;

	li.challenger > a {
		display: block;
		height: 55px;
		padding: 5px 10px;
		color: inherit;
		border-bottom: 1px solid $gray;

		&:hover {
			background-color: $lt-gray;
			cursor: pointer;
		}

		&, * {
			line-height: 45px;
		}
	}

	h2.name {
		@extend .pull-left;
		margin: 0;
	}

	.stats {
		@extend .pull-right;
		font-size: 12px;

		> span {
			display: inline-block;

			+ span {
				margin-left: 1em;
			}

			i {
				vertical-align: middle;
				display: inline-block;
				color: $brand-primary;
				font-size: 16px;
				padding-right: 0.25em;
			}
		}
	}
}