
@import url(https://fonts.googleapis.com/css?family=Lato);
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome.scss';


h1 {
	color: black;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;

	&.subtitled {

		@media (min-width: 500px) {
			float: left;
			margin-right: 0.5em;
		}

		+ h2 {
			color: $brand-primary;
			margin-top: 0;
		}
	}
}

h2 {
	font-weight: normal;
	font-size: 24px;
}

h3 {
	color: #9B9B9B;
	font-size: 20px;
}

small {
	font-size: 12px;
	text-transform: uppercase;
}

.navbar {
	border: none;
	border-bottom: 2px solid $brand-primary;
	min-height: 62px;
	text-transform: uppercase;
	margin-bottom: 55px;
	
	.navbar-toggle {
		padding-top: 13px;
		padding-bottom: 13px;
		background-color: #fff;

		&:hover, &:active, &:focus {
			.icon-bar {
					background-color: $brand-primary;
			}
			background-color: #fff;
		}
	}

	.navbar-nav > li > a, {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	.navbar-btn {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	@media (min-width: $screen-sm-min) {
		.btn-facebook {
			float: right;
		}
	}

	@media (max-width: $screen-xs-max) {
		margin-bottom: 30px;

		.navbar-btn {
			margin-top: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: left;
			width: 100%;
		}
	}
}




.navbar-brand {
	padding: 0 20px 0 10px;

	&, > img {
		height: 60px;
	}
}

footer {
	padding: 3em 1em 1em;
	text-align: center;
	font-size: 12px;
	margin-top: 3em;
}

.btn-facebook {
	background-color: $facebook-blue;
	border: 1px solid #2A457F;
	color: #fff;

	&:hover, &:focus, &:active {
		background-color: lighten($facebook-blue, 5%);
		border-color: $facebook-blue;
		color: #fff;
	}

	.fa-facebook {
		margin-right: 0.5em;
	}
}

#challengers {
	h1 {
		line-height: 36px;
	}
}

.key {
	max-width: 200px;
	border: 1px solid $lt-gray;
	padding: 0.5em;
	margin: 0.5em 0 0.5em auto;
}

.stats-icon {
	vertical-align: middle;
	display: inline-block;
	color: $brand-primary;
	font-size: 16px;
	padding-right: 0.25em;
}

ol.challenger-list {
	list-style: none;
	margin: 1em 0;
	padding: 0;

	@include clearfix;

	li.challenger > a {
		position: relative;
		display: block;
		height: 55px;
		padding: 5px 10px;
		color: inherit;
		border-bottom: 1px solid $lt-gray;

		&:hover {
			background-color: $near-white;
			cursor: pointer;
		}

		&, * {
			line-height: 45px;
		}
	}

	h2.name {
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-right: 140px;
	}

	.stats {
		width: 140px;
		font-size: 12px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		right: 0;

		> span {
			display: inline-block;

			+ span {
				margin-left: 1em;
			}

			i {
				@extend .stats-icon;
			}
		}
	}
}

@media (max-width: 400px) {
	ol.challenger-list {
		.stats {
			.since {
				display: none;
			}
			width: 50px;
		}

		h2.name {
			margin-right: 50px;
		}
	}

	.key .since {
		display: none;
	}
}

#challenger-profile {
	> .row {
		margin-top: 2em;
		h3 {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
}

.badge-list {
	.badge-league {
		text-align: center;
		max-width: 130px;

		.well {
			margin-bottom: 0;
			background-color: $near-white;
			padding: 5px;
		}

		img {
			width: 100%;
		}

		.badge-name {
			font-size: 10px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 5px 0 30px;
		}

		&.inactive {
			filter: grayscale(100%);
			color: $lt-gray;

			img {
				opacity: 0.3;
			}
		}
	}
}

.challenger-info {
	.since {
		@extend small;
		color: $brand-primary;
		margin-bottom: 2em;
	}

	.line {
		border: 1px solid $lt-gray;
		border-width: 1px 0;
		padding: 5px 0;
		@extend .clearfix;

		+ .line {
			border-top-width: 0;
		}
		
		label, .data {
			@extend .col-xs-6;
			margin: 0;
		}
	}

	.social-media {
		margin-top: 1em;
	}
}

$facebook: #3B5998;
$twitter: #4099FF;
$tumblr: #35465C;

.social-media {
	i.fa {
		font-size: 30px;
		margin-right: 0.2em;
		transition: color 0.3s;

		&.fa-facebook-square, &.fa-facebook, &.fa-facebook-official {
			color: $facebook;
			&:hover {
				color: lighten($facebook, 10%);
			}
		}

		&.fa-tumblr-square, &.fa-tumblr {
			color: $tumblr;
			&:hover {
				color: lighten($tumblr, 10%);
			}
		}

		&.fa-twitter-square, &.fa-twitter {
			color: $twitter;
			&:hover {
				color: lighten($twitter, 10%);
			}
		}
	}
}